matplotlib==3.10.0
scenedetect==0.6.5
numpy==1.26.4
scipy==1.14.1
torch==2.5.1
torchvision==0.20.1
pandas==2.2.3
sympy==1.13.1
tqdm==4.67.1
opencv_python==4.10.0.84
catboost==1.2.7
pyside6==6.8.1
ultralytics==8.3.49
